.venv/
__pycache__/
*.pyc

*.pt
models/
models/*.pt

org_files/
solution/
raw_images/
filtered/
scraped_raw/
ML service/index/
models/
_scratch/
scraped_raw

ML evaluation/querysets/
ML evaluation/reports/

ML train/dummy_data/
ML train/artifacts/

eval/predictions.jsonl
**/__MACOSX/
.ipynb_checkpoints/

web/node_modules/
web/.nuxt/
web/.output/

.idea/
.vscode/

/scraped_raw.7z

.DS_Store
.env
eval/.DS_Store
ML train/